################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Asp.NetRepositoryDesignPattern/.vs/Asp.NetRepositoryDesignPattern/FileContentIndex
