@model RepositoryDesignPatternDomainDrivenDesign.ApplicationServices.Dtos.PersonDtos.PersonListDto

<!DOCTYPE html>
<html>

<head>
    <title>Single Page Architecture</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="~/css/personStyle.css" rel="stylesheet">
</head>

<body>

    <div class="grid-container">
        <div class="grid-item">
            <label for="firstName">First Name</label>
            <div id="firstNameMsg"></div>
            <input type="text" class="form-control"  id="firstName" placeholder="Enter first name" required>
        </div>
        <div class="grid-item">
            <label for="lastName">Last Name</label>
            <div id="lastNameMsg"></div>
            <input type="text" class="form-control" id="lastName" placeholder="Enter last name" required>
        </div>
        <div>
         
            <button type="button" id="btnsave" class="btn button" onclick="handleSaveButtonClick()">Add <i class="bi bi-person-fill-add"></i></button>
        </div>
    </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <table class="table" id="table">
                        <thead>
                            <tr>
                                <th id="idInput" class="hidden">Id</th>
                          
                            <th onclick="sortTable(0)">First Name <span class="sort-arrow">↑↓</span></th>
                            <th onclick="sortTable(1)">Last Name <span class="sort-arrow">↑↓</span></th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr hidden>
                            
                                <td>
                                    <button class="btn btn-danger" onclick="handleDeleteButtonClick(this)"><i class="bi bi-trash"></i></button>
                                    <button class="btn btn-primary" onclick="handleEditClick('${rowId}','${rowIndex}')"><i class="bi bi-pencil"></i></button>
                                </td>
                            </tr> 

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>



    <div class="modal-container hidden" id="modalContainer">
        <div class="modal-content">
            <p id="modalMessage"></p>
            <label for="modalFirstName">First Name</label>
            <input type="text" class="form-control" id="modalFirstName" placeholder="Enter first name">
            <label for="modalLastName">Last Name</label>
            <input type="text" class="form-control" id="modalLastName" placeholder="Enter last name">
            <div class="button-row">
                <button type="button" id="saveButton" class="btn btn-primary button buttonSave">Save</button>
                <button type="button" id="buttonCancel" class="btn btn-secondary button buttonCancel" onclick="CloseModal()">Cancel</button>
            </div>
        </div>
    </div>
    <div class="overlay hidden"></div>
    <div id="notificationContainer" class="notification-container"></div>


    <script src="~/js/personScript.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv4.min.js"></script>
</body>

</html>




     